<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.mapper.QnaMapper">
<!-- Columns of table 'qna' 
id, member_id, product_id, option_id, category, title, message, write_date, password -->

<!-- Qna 게시판 글 등록 -->
	<insert id="insertQna" parameterType="Qna" keyProperty="id">
		insert into qna(id, member_id, product_id, option_id, category, title, message, write_date, password) 
		values(#{id}, #{memberId}, #{productId}, #{optionId}, #{category}, #{title}, #{message}, #{writeDate}, #{password})
	</insert>
<!-- Qna 게시판 조회 관련 -->
<!-- Qna 개수 조회(모든 카테고리) -->
	<select id="selectCountQna" resultType="int">
		select count(id) from qna;
	</select>
	
<!-- 한 페이지에 보여줄 Qna 리스트 조회(모든 카테고리) -->
	<select id="selectQnaPerPage" resultType="Qna">
		select id, member_id, product_id, option_id, category, title, message, write_date, password 
		from qna order by id desc limit #{firstRow}, #{qnaCountPerPage}
	</select>
<!-- 게시판 글 하나 조회 -->
	<select id="selectOneById" resultType="Qna">
		select id, member_id, product_id, option_id, category, title, message, write_date, password 
		from qna where id=#{id}
	</select>
<!-- Qna 개수 조회(카테고리별) -->
	<select id="selectCountQnaWC" resultType="int">
		select count(id) from qna where category=#{category}
	</select>
<!-- 한 페이지에 보여줄 Qna 리스트 조회(카테고리별) -->
	<select id="selectQnaPerPageWC" resultType="Qna">
		select id, member_id, product_id, option_id, category, title, message, write_date, password 
		from qna where category=#{category} order by id desc limit #{firstRow}, #{qnaCountPerPage}
	</select>
<!-- qna 글수정 관련 -->
	<update id="updateQna" parameterType="Qna">
		update qna set member_id=#{memberId}, product_id=#{productId}, option_id=#{optionId}, category=#{category}, title=#{title}, message=#{message}, write_date=#{writeDate}, password=#{password} 
		where id=#{id}
	</update>
<!-- qna 글삭제 관련 -->
	<delete id="deleteQna">
		delete from qna where id=#{id}
	</delete>
</mapper>