<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.mapper.SearchMapper">
	<!-- columns: id, name, category, brand, prod_date, price, delivery_price, discount_rate, introduction, reg_date, update_date, img_src -->
	<select id="selectProduct" resultType="Product">
		select id, name, category, brand, prod_date, price, delivery_price, discount_rate, introduction, reg_date, update_date, img_src from product
		where name like #{txtSearch}
	</select>
	<select id="selectCountProduct" resultType="int">
		select count(id) from product where name like #{txtSearch}
	</select>
</mapper>