@charset "UTF-8";
*{
	margin: 0;
	padding:0;
	text-decoration: none;
	list-style: none;
}
/* 화면 전체*/
.wrapper{
	width: 1900px;
}
/* content */
.wrap{
	width : 1350px;
	margin: auto;
}
/* 홈페이지 기능 네비 */
.gnb_area{
	width: 100%;
	height: 50px;
	background-color: orange;

}
/*로고 ,검색*/
.top_area{
	width: 100%;
	height: 150px;
}
/*로고 영역*/
.logo_area{
	width: 50%;
	height: 100%;
	float: left;
}
.logo.area img{
	width: 100%;
	height: 100%;
}
/*검색 박스 영역*/
.search_area{
	width: 50%;
	height: 100%;
	background-color: blue;
	display: inline-block;
}
.search_table{
	background-color: white;
	border-collapse: collapse;
	border: 3px solid black;
	border-radius: 10px;
	width: 60%;
	height: 30%;
	margin-left: 135px;
	margin-top: 45px;
}
.search_table>tbody>tr>td{
	border: 1px solid black;
}
.serach_box{
	width: 100%;
}
.search_input{
	width: 80%;
}
.search_input_box{
	width: 100%;
	height: 100%;
	border: none;
}
.run_search{
	width: 20%;
	text-align: center;
}
/*제품 목록 네비*/
.navi_bar_area{
	width: 100%;
	height: 50px;
	background-color: green;
}
/* 메인 */
.content_area{
	width: 100%;
	background-color: yellow;
	
}
.title_area{
	width: 100%;
	height : 100%;
	text-align: center;
}

/*float 속성 해제*/
.clearfix{
	clear:both;
}

/*foot area*/
.foot_bar_area{
	width: 100%;
	background-color: gray;
	height: 300px;
}
/*여기서부터 배너 부분*/
fieldset{margin: 0 auto; width: 1080px; height: 490px;}
.mySlides{
	width:1080px; height: 490px;
	overflow: hidden;
	position: absolute;
	margin: 0 auto;
	z-index: 1;
}
.mySlides>ul{
	width: calc(1080px*4);
}
.mySlides li{float: left;}
.mySlides>ul::after{
	content:""; clear:both; display: block;
}
.mySlides>a{
	position: absolute; top: 45%;
}
.mySlides>a:first-of-type {
	left:0px;
	
}
.mySlides>a:last-of-type {
	right:0px;
}
/*여기서부터 드롭다운 메뉴부분*/
#menu {
	
	font: bold 16px "malgun gothic";
	width:100%;
	height: 50px;
	background: #ccc;
	color: black;
	line-height: 50px;
	margin: 0 auto;
	text-align: center;
	
}
#menu > ul > li {
	float:left;
	width: 130px;
	position: relative;
}
#menu > ul > li > ul {
		width:130px;
		display:none;
		position: absolute;
		font-size:14px;
		background: skyblue;
		z-index: 2;
}
#menu > ul > li:hover > ul {
		display:block;
}
#menu > ul > li > ul > li:hover {
		background: orange;
		transition: ease 1s;
}
/* 상품 리스트 배치*/
.lst_type{
	width: 1348px;
	border: 1px solid #888;
}
.lst_type:after {
	content:'';
	display: block;
	clear: both;
}
.lst_type li {
	float: left;
	width: 300px;
	margin-left: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.lst_type li a {
	display: block;
	color: #fff;	
}
.lst_type li a .thumb {
	display: block;
}
.lst_type li a em{
	display: block;
	padding: 5px 0;
	background-color: #888;
	font-size: 20px;
	letter-spacing: -1px;
	line-height: 1.5;
}

